---
layout : template
title  : tags
---
<div class="tag-cloud">
   {% for tag in site.tags %}
      <ul id="list_{{ tag[0] }}" style="display:none;">
         {% for p in tag[1] %}
		<li>{{ p.date | date: "%b %Y"}} / <a href={{ p.url }}>{{ p.title }}</a></li>
         {% endfor %}
      </ul>
   {% endfor %}
</div>
<div id="post" class="round_shadow">
<h4 align="center">Showing post with tag &nbsp; <code><span id="searchtag"</span></code></h4>
<div id ="posts-tags" class="post-list" style="list-style: none"></div>
</div>
<script type="text/javascript">
   $(function() {
	var vars = {};
	var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        					vars[key] = value;});
	$('.post-list').empty();
         $('#list_' + vars['tag']).each(function() {
                 $('.post-list').append('<li>' + $(this).html() + '</li>');
         });
	$('#searchtag').html(vars['tag']);
    });
</script>

